<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pitaya.printer">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity android:name=".PrinterActivity"></activity>
    </application>

</manifest>

    <!--Error:Execution failed for task ':app:processDebugManifest'.--><!--&gt; Manifest merger failed : Attribute application@label value=(@string/app_name) from AndroidManifest.xml:8:9-41--><!--is also present at [ComponentDemo:printer:unspecified] AndroidManifest.xml:13:9-49 value=(@string/printer_app_name).--><!--Suggestion: add 'tools:replace="android:label"' to <application> element at AndroidManifest.xml:5:5-22:19 to override.-->